@use '../abstracts/' as *;
@use '../base/typography' as *;
@use '../components/media' as *;

%btn {
  font-family: $font-stack;
  text-decoration: none;
  background: transparent;
  border: 0;
  outline: none;
  cursor: pointer;
}

.vote-btn {
  @extend %btn;
  font-size: 1.125rem;
  font-weight: weight(medium);
  color: $light-grayish-blue;
  transition: color 0.5s ease;

  &:hover:not(.vote-btn--disabled) {
    color: $moderate-blue;
  }

  &--disabled {
    color: $pale-red;
  }
}

.actions-btn {
  @extend %btn;
  display: inline-flex;
  font-size: 1rem;
  font-weight: weight(bold);
  transition: opacity 0.5s ease;

  &__icon {
    margin-right: 0.5em;
  }

  &--reply {
    color: $moderate-blue;
  }

  &--delete {
    margin-right: 0.95em;
    color: $soft-red;

    &--disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }

  &--edit {
    @extend .actions-btn--reply;
  }

  &:hover {
    opacity: 0.5;
  }
}

.comment-form__btn {
  grid-area: button;
  justify-self: flex-end;
  @extend %btn;
  width: 75%;
  height: fit-content;
  padding: 0.75em 1em;
  font-size: 1.125rem;
  text-transform: uppercase;
  background-color: $moderate-blue;
  color: $white;
  border-radius: 7px;
  transition: opacity 0.5s ease;

  &:hover {
    opacity: 0.8;
  }
}

.comment-edit__btn {
  @extend %btn;
  display: block;
  margin-left: auto;
  padding: 0.75em 1em;
  font-size: 1rem;
  text-transform: uppercase;
  background-color: $moderate-blue;
  color: $white;
  border-radius: 7px;
  transition: opacity 0.5s ease;

  &:hover {
    opacity: 0.8;
  }
}

.modal__cancel-btn {
  @extend %btn;
  margin-right: 0.75em;
  padding: 0.75em 1em;
  font-size: 0.938rem;
  text-transform: uppercase;
  background-color: $grayish-blue;
  color: $white;
  border-radius: 7px;
  transition: opacity 0.5s ease;

  &:hover {
    opacity: 0.7;
  }
}

.modal__confirm-btn {
  @extend .modal__cancel-btn;
  background-color: $soft-red;
}

@include md {
  .actions-btn--delete {
    margin-right: 1.5em;
  }
}

@include lg {
  .comment-form__btn {
    width: 65%;
    padding: 0.75em 0.5em;
  }

  .comment-edit__btn {
    font-size: 1.125rem;
  }
}
